<section class="section has-background-black">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <%= link_to user_path(user) do %>
                <% if user.image? %>
                  <%= image_tag user.image.url, class: "user-icon" %>
                  <% else %>
                  <%= image_tag "default.png", alt: "user-icon",  class: "user-icon" %>
                  <% end %>
                <% end %>
              </figure>
            </div>
            
            <div class="card-content">
               <div class="media">
                  <div class="media-content">
                    <div class="title"><%=link_to user.name, user_path(user) %></div>
                  </div>
               </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>  